<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="OrganizationStructure.WebApp.BaseUrl" value="http://localhost:60499"/>

    <add key="OrganizationStructure.WebApp.LoginName" value="LoginUser"/>
    <add key="OrganizationStructure.WebApp.LoginPassword" value="Pa55w0rd"/>

  </appSettings>
</configuration>